@import "../../../assets/_variables.less"; // variables to override above

.user-card {
    .flex();
    position     : relative;
    width        : 100%;
    border-bottom: 1px fade(@black, 50%) solid;
    align-items  : center;

    &:last-child {
        border-bottom: none;
    }

    .add {
        cursor : pointer;
        color  : @defaultColor;
        padding: .25rem;

        &:focus,
        &:hover {
            color: lighten(@defaultColor, @hover);
        }

        &:before {
            display  : block;
            font     : normal normal normal 24px/1 "Material Design Icons";
            font-size: 1rem;
            content  : "\F417"
        }
    }

    &.selected{
        border: 1px @errorColor solid;
    }

    .main {
        .flex();
        padding       : .5rem .5rem;
        flex          : 3 1;
        flex-direction: column;
        height        : 100%;

        .title {
            .title();
        }

        .char-list {
            .flex();
            padding-left: .25rem;
            flex-wrap   : wrap;

            @media screen and (max-width: @mobile-L) {
                justify-content: center;
                font-size      : .85rem;
                flex-direction : column;
            }

            .char_name {
                .flex();
                position     : relative;
                padding-right: .2rem;
                align-items  : center;

                &:focus,
                &:hover {
                    .delete {
                        display: block;
                    }
                }

                .delete {
                    cursor  : pointer;
                    position: absolute;
                    color   : @defaultColor;
                    right   : 0;
                    display : none;

                    &:focus,
                    &:hover {
                        display: block;
                        color  : lighten(@defaultColor, @hover);
                    }

                    &:before {
                        display  : block;
                        font     : normal normal normal 24px/1 "Material Design Icons";
                        font-size: 1rem;
                        content  : "\F1C0"
                    }
                }
            }
        }
    }

    .user-status {
        .flex();
        padding       : .5rem .125rem;
        flex-direction: column;
        flex          : 1 1;
        height        : 100%;

        .title {
            .title();
        }

        .content {
            text-transform: uppercase;
            padding-left  : .25rem;
            min-width     : 6rem;

            @media screen and (max-width: @mobile-L) {
                font-size: .85rem;
            }
        }
    }

    .rank {
        .flex();
        padding       : .5rem .125rem;
        flex-direction: column;
        flex          : 1 1;
        height        : 100%;

        .title {
            .title();
        }

        .content {
            text-transform: uppercase;
            font-size     : 1rem;
            padding-left  : .25rem;
            min-width     : 4rem;

            @media screen and (max-width: @mobile-L) {
                font-size: .85rem;
            }

            &.officer {
                color      : @errorColor;
                font-weight: 400;
            }

            &.leader {
                color      : @importantColor;
                font-weight: 500;
            }

            &.veteran {
                color      : @defaultColor;
                font-weight: 400;
            }
        }
    }

    .balance {
        .flex();
        padding       : .5rem .125rem;
        flex-direction: column;
        flex          : 1 1;
        height        : 100%;

        .title {
            .title();
        }

        .content {
            padding-left: .25rem;
            min-width   : 4rem;
            cursor      : pointer;

            &:hover {
                color: @defaultColor  !important;
            }

            &.red {
                font-weight: 800;
                color      : @importantColor;
            }
        }
    }

    .penalties {
        .flex();
        padding       : .5rem .125rem;
        flex-direction: column;
        flex          : 1 1;
        height        : 100%;

        .title {
            .title();
        }

        .content {
            .flex();
            flex-direction: row;
            font-weight   : 400;

            @media screen and (max-width: @mobile-L) {
                justify-content: center;
            }

            .penalty {
                cursor      : pointer;
                padding-left: .25rem;

                &:hover {
                    color: @defaultColor  !important;
                }

                &.active {
                    color: @importantColor;
                }

                &.inactive {
                    text-decoration: line-through;
                    color          : fade(@black, 60%);
                }

                &.canceled {
                    text-decoration: line-through;
                    color          : fade(@black, 40%);
                }
            }
        }
    }

    .loans {
        .flex();
        padding       : .5rem 0;
        flex-direction: column;
        flex          : 1 1;
        padding-right : .25rem;
        height        : 100%;

        .title {
            .title();
        }

        .content {
            .flex();
            flex-direction: row;
            flex-wrap     : wrap;

            @media screen and (max-width: @mobile-L) {
                justify-content: center;
            }

            .loan {
                cursor      : pointer;
                padding-left: .25rem;

                &:hover {
                    color: @defaultColor  !important;
                }

                &.active {
                    font-weight: 400;
                }

                &.canceled,
                &.paid {
                    font-weight    : 400;
                    text-decoration: line-through;
                    color          : fade(@black, 50%);
                }

                &.expired {
                    font-weight: 800;
                    color      : @importantColor;
                }
            }
        }
    }

    &.afk {
        background-color: fade(@successColor, 10%);

        &:hover {
            background-color: fade(@successColor, 5%);
        }
    }

    &.banned {
        background-color: fade(@importantColor, 20%);

        &:hover {
            background-color: fade(@importantColor, 10%);
        }
    }

    &.active {
        &:hover {
            background-color: fade(@black, 2%);
        }
    }

    &.left {
        background-color: fade(@black, 20%);

        &:hover {
            background-color: fade(@black, 10%);
        }
    }

    &.new {
        background-color: fade(@successColor, 20%);

        &:hover {
            background-color: fade(@successColor, 10%);
        }
    }
}

.title() {
    text-transform: lowercase;
    font-size     : .8rem;
    font-weight   : 500;
    color         : fade(@black, 80%);
    padding-bottom: .25rem;

    @media screen and (max-width: @mobile-L) {
        font-size: .75rem;
    }
}