.bd {
    display    : -webkit-box;
    display    : -moz-box;
    display    : -ms-flexbox;
    display    : -webkit-flex;
    display    : flex;
    flex       : 1 1 100%;
    align-items: normal;

    .ant-card {
        flex: 1 1 100%;
        margin: 0.5rem;
    }
}