@import "assets/_variables.scss"; // variables to override above

.afk {
    background-color: transparentize($successColor, 0.9);
}

.banned {
    background-color: transparentize($importantColor, 0.8);
}

.active {}

.left {
    background-color: transparentize($black, 0.8);
}

.new {
    background-color: transparentize($successColor, 0.8);
}

.officer {
    button {
        color      : $errorColor;
        font-weight: 400;
    }
}

.leader {
    button {
        color      : $importantColor;
        font-weight: 500;
    }
}

.veteran {
    button {
        color      : $defaultColor;
        font-weight: 400;
    }
}

.beginner {
    button {
        color      : 4successcolor;
        font-weight: 200;
    }
}


.characters-table {

    @media screen and (min-width: $tablet) {
        .sub-title {
            display: none;
        }
        .sub-name {
            display: flex!important;
        }
    }

    @media screen and (max-width: $tablet) {
        .title {
            display        : flex;
            justify-content: space-between;
            flex           : 1 1 auto;
            text-align     : left;
        }

        table {
            thead {
                display: none;
            }

            tr {
                display      : block;
                margin-bottom: 1rem;
                border-bottom: 2px solid #e8e9eb;
            }

            td {
                display        : block;
                text-align     : right;
                display        : flex;
                justify-content: flex-end;
            }

            td:before {
                content    : attr(aria-label);
                float      : left;
                font-weight: bold;
            }
        }
    }
}