<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/FeyverkSoft/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="FeyverkSoft" />
      <add key="ClearTextPassword" value="24c2ecb3dd4e6037ea153f1c56b9672d77fc6c71" />
    </github>
  </packageSourceCredentials>
</configuration>